resources/schema/miringreport.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MiringReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="hmlid">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="extension"/>
                <xs:attribute type="xs:short" name="root"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:byte" name="QualityScore"/>
        <xs:element name="InvalidMiringresult">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="description"/>
              <xs:element type="xs:string" name="solution"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="fatal"/>
            <xs:attribute type="xs:string" name="miringElementID"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>